<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhouxu.site.cacheclient.dao.OrdersMapper" >
  <resultMap id="BaseResultMap" type="zhouxu.site.cacheclient.pojo.Orders" >
    <id column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
    <result column="PRODUCT_ID" property="productId" jdbcType="INTEGER" />
    <result column="ORDER_COUNT" property="orderCount" jdbcType="INTEGER" />
    <result column="ORDER_TOTAL" property="orderTotal" jdbcType="DOUBLE" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
    <result column="CUSTOM_ID" property="customId" jdbcType="INTEGER" />
    <result column="CUSTOM_PHONE" property="customPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, PRODUCT_ID, ORDER_COUNT, ORDER_TOTAL, ORDER_STATUS, CUSTOM_ID, CUSTOM_PHONE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhouxu.site.cacheclient.pojo.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zhouxu.site.cacheclient.pojo.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhouxu.site.cacheclient.pojo.Orders" >
    insert into orders (ORDER_ID, PRODUCT_ID, ORDER_COUNT, 
      ORDER_TOTAL, ORDER_STATUS, CUSTOM_ID, 
      CUSTOM_PHONE)
    values (#{orderId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{orderCount,jdbcType=INTEGER}, 
      #{orderTotal,jdbcType=DOUBLE}, #{orderStatus,jdbcType=VARCHAR}, #{customId,jdbcType=INTEGER}, 
      #{customPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zhouxu.site.cacheclient.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="orderCount != null" >
        ORDER_COUNT,
      </if>
      <if test="orderTotal != null" >
        ORDER_TOTAL,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="customId != null" >
        CUSTOM_ID,
      </if>
      <if test="customPhone != null" >
        CUSTOM_PHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null" >
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null" >
        #{orderTotal,jdbcType=DOUBLE},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="customId != null" >
        #{customId,jdbcType=INTEGER},
      </if>
      <if test="customPhone != null" >
        #{customPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhouxu.site.cacheclient.pojo.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.orderCount != null" >
        ORDER_COUNT = #{record.orderCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderTotal != null" >
        ORDER_TOTAL = #{record.orderTotal,jdbcType=DOUBLE},
      </if>
      <if test="record.orderStatus != null" >
        ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.customId != null" >
        CUSTOM_ID = #{record.customId,jdbcType=INTEGER},
      </if>
      <if test="record.customPhone != null" >
        CUSTOM_PHONE = #{record.customPhone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set ORDER_ID = #{record.orderId,jdbcType=INTEGER},
      PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      ORDER_COUNT = #{record.orderCount,jdbcType=INTEGER},
      ORDER_TOTAL = #{record.orderTotal,jdbcType=DOUBLE},
      ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
      CUSTOM_ID = #{record.customId,jdbcType=INTEGER},
      CUSTOM_PHONE = #{record.customPhone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhouxu.site.cacheclient.pojo.Orders" >
    update orders
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null" >
        ORDER_COUNT = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null" >
        ORDER_TOTAL = #{orderTotal,jdbcType=DOUBLE},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="customId != null" >
        CUSTOM_ID = #{customId,jdbcType=INTEGER},
      </if>
      <if test="customPhone != null" >
        CUSTOM_PHONE = #{customPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhouxu.site.cacheclient.pojo.Orders" >
    update orders
    set PRODUCT_ID = #{productId,jdbcType=INTEGER},
      ORDER_COUNT = #{orderCount,jdbcType=INTEGER},
      ORDER_TOTAL = #{orderTotal,jdbcType=DOUBLE},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      CUSTOM_ID = #{customId,jdbcType=INTEGER},
      CUSTOM_PHONE = #{customPhone,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>