<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhouxu.site.cacheclient.dao.StoreMapper" >
  <resultMap id="BaseResultMap" type="zhouxu.site.cacheclient.pojo.Store" >
    <id column="PRODUCT_ID" property="productId" jdbcType="INTEGER" />
    <result column="PRUDCT_COUNT" property="prudctCount" jdbcType="INTEGER" />
    <result column="PRODUCT_ADDRESS" property="productAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PRODUCT_ID, PRUDCT_COUNT, PRODUCT_ADDRESS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhouxu.site.cacheclient.pojo.StoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zhouxu.site.cacheclient.pojo.StoreExample" >
    delete from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhouxu.site.cacheclient.pojo.Store" >
    insert into store (PRODUCT_ID, PRUDCT_COUNT, PRODUCT_ADDRESS
      )
    values (#{productId,jdbcType=INTEGER}, #{prudctCount,jdbcType=INTEGER}, #{productAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zhouxu.site.cacheclient.pojo.Store" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="prudctCount != null" >
        PRUDCT_COUNT,
      </if>
      <if test="productAddress != null" >
        PRODUCT_ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="prudctCount != null" >
        #{prudctCount,jdbcType=INTEGER},
      </if>
      <if test="productAddress != null" >
        #{productAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zhouxu.site.cacheclient.pojo.StoreExample" resultType="java.lang.Integer" >
    select count(*) from store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update store
    <set >
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.prudctCount != null" >
        PRUDCT_COUNT = #{record.prudctCount,jdbcType=INTEGER},
      </if>
      <if test="record.productAddress != null" >
        PRODUCT_ADDRESS = #{record.productAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update store
    set PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      PRUDCT_COUNT = #{record.prudctCount,jdbcType=INTEGER},
      PRODUCT_ADDRESS = #{record.productAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhouxu.site.cacheclient.pojo.Store" >
    update store
    <set >
      <if test="prudctCount != null" >
        PRUDCT_COUNT = #{prudctCount,jdbcType=INTEGER},
      </if>
      <if test="productAddress != null" >
        PRODUCT_ADDRESS = #{productAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhouxu.site.cacheclient.pojo.Store" >
    update store
    set PRUDCT_COUNT = #{prudctCount,jdbcType=INTEGER},
      PRODUCT_ADDRESS = #{productAddress,jdbcType=VARCHAR}
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </update>
</mapper>